<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Hacer una reserva</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="formReserva" (ngSubmit)="submitForm()" class="ion-padding">
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input class="control" aria-label="Nombre" placeholder="Ingrese su nombre" id="userNombre"
        formControlName="userNombre"></ion-input>
      @if (hayErrores('userNombre', 'required')) {
      <!-- si hay error, muestra una nota debajo del input con estilo visual de error -->
      <ion-note>
        Debe ingresar su nombre.
      </ion-note>
      }
      @if (hayErrores('userNombre', 'minlength')) {
      <ion-note>
        El nombre no puede tener menos de 3 caracteres.
      </ion-note>
      }
    </ion-item>

    <ion-item>
      <ion-label>Vehículo</ion-label>
      <ion-select class="control" aria-label="Vehiculos" placeholder="Seleccione el vehículo"
        formControlName="vehiculo">
        <ion-select-option value="sedanConfort">Sedan Confort</ion-select-option>
        <ion-select-option value="economico">Económico</ion-select-option>
        <ion-select-option value="suv">SUV</ion-select-option>
        <ion-select-option value="utilitario">Utilitario</ion-select-option>
        <ion-select-option value="lujo">Lujo</ion-select-option>
      </ion-select>
      @if (hayErrores('vehiculo', 'required')) {
      <ion-note>
        Debe seleccionar un vehículo.
      </ion-note>
      }
    </ion-item>

    <ion-item>
      <ion-label>Seleccione la fecha y hora de inicio</ion-label>
      <ion-datetime-button class="control" datetime="datetime"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime" formControlName="fechaInicio" presentation="date-time" [formatOptions]="{
        date: {
          weekday: 'short',
          month: 'long',
          day: '2-digit',
        },
        time: {
          hour: '2-digit',
          minute: '2-digit',
        },
      }"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <ion-item>
      <ion-label>Seleccione la fecha y hora de devolución</ion-label>
      <ion-datetime-button class="control" datetime="datetime"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime" formControlName="fechaDevolucion" presentation="date-time" [formatOptions]="{
        date: {
          weekday: 'short',
          month: 'long',
          day: '2-digit',
        },
        time: {
          hour: '2-digit',
          minute: '2-digit',
        },
      }"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <ion-button id="enviarForm" type="submit" expand="full" routerLink="/home"><ion-icon name="checkbox"></ion-icon>Reservar</ion-button>
  </form>