ion-chip {
    justify-content: center;
    --background:#f1f1f1cf;
}

.usuario {
    text-align: center;
}

ion-title {
    text-align: center;
    padding-top: 10%; //le agregamos un poco de separacion
}

ion-toolbar {
    --background: #1e1c1cde;
}

ion-content {
    overflow: hidden; //ocultamos la barra
    --background: #f1f1f1a9;
}

// --- Estilos para contenedor de la lista ---

.contenedor-lista {
    display: flex;
    flex-direction: column; // Para que la lista y el boton esten en columna 
    justify-content: center; // Centra verticalmente el contenido
    min-height: 100%; // Asegura que ocupe toda la altura disponible en ion-content
    height: 90%;
    box-shadow: #1e2428;
}


// --- Estilos para la ion-list ---

.lista-perfil {
    margin: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: scroll; //le dejamos una barrra para scrollear solo en la lista
    align-items: center;


    ion-item {
        margin-bottom: 1rem;

        div.contenedor-subir-imagen {
            display: flex;
            flex-direction: column; // para que el boton y el nombre esten en columna
            align-items: flex-end; // alineacion de boton a la derecha
            width: 100%;
        }

        .sacarFoto {
            --background: #1e2428;
            color: #dbdee0;
            border-radius: 0.25rem;
            cursor: pointer;
            font-size: 0.875rem;
            line-height: 1.5;
            text-align: center;
            margin-bottom: 0.5rem; // espacio entre boton y nombre

            .sacarFoto:hover {
                background-color: #333335;
            }

        }

        .nombre-archivo {
            font-size: 0.75rem;
            color: #6c757d;
            text-align: right; // alinea el nombre del archivo a la derecha
            width: 100%;
            box-sizing: border-box; // Asegura que el padding no afecte el ancho
            margin-bottom: 0.5rem; // espacio entre boton y base
        }

    }
}


.btnGuardar {
    --background: rgb(230, 137, 44); //hay que agregarle color hornerocars (?
}

