<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Login</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true" class="ion-padding">
  <div class="login-container">

    <!-- Logo -->
    <div class="logo-container">
      <img src="assets/img/LogoBlanco1.png" class="logo-img light" />
      <img src="assets/img/LogoNegro1.png" class="logo-img dark" />
    </div>

    <form [formGroup]="iniciarSesionForm" (ngSubmit)="enviarForm()">
      <ion-item>
        <ion-label class="label" position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="label" position="floating">Contraseña</ion-label>
        <ion-input
          [type]="contraseniaVisible ? 'text' : 'password'"
          formControlName="contraseña">
        </ion-input>
      </ion-item>

      <!-- Botón mostrar/ocultar contraseña separado -->
      <ion-button expand="block" fill="clear" size="small" (click)="mostrarContrasenia()">
        <ion-icon
          slot="start"
          [name]="contraseniaVisible ? 'eye-off' : 'eye'">
        </ion-icon>
        {{ contraseniaVisible ? 'Ocultar' : 'Mostrar' }} contraseña
      </ion-button>

      <ion-button
        expand="block"
        type="submit"
        [disabled]="iniciarSesionForm.invalid"
        class="ion-margin-top">
        Iniciar sesión
      </ion-button>

      <ion-button
        expand="block"
        fill="outline"
        (click)="registrarse()"
        [disabled]="iniciarSesionForm.invalid">
        Registrarse
      </ion-button>
    </form>
  </div>
</ion-content>