<ion-header>
  <ion-toolbar>
    <ion-title> Hornero Cars </ion-title>
    <ion-buttons slot="end">
        <ion-icon name="log-out-outline" size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>

<ion-footer>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="reservas" routerLink="/home/reservas" routerDirection="root">
      <ion-icon name="car-sport-outline"></ion-icon>
      <ion-label>Reservar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="historial" routerLink="/home/historial" routerDirection="root">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Mis Reservas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" routerLink="/home/perfil" routerDirection="root">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>